Trace.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://trace.odfl.com" xmlns:impl="http://trace.odfl.com" xmlns:intf="http://trace.odfl.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://trace.odfl.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://trace.odfl.com" xmlns:intf="http://trace.odfl.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="getTraceData">
    <complexType>
     <sequence>
      <element name="pro" nillable="true" type="xsd:string"/>
      <element name="type" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="TraceResult">
    <sequence>
     <element name="proNum" nillable="true" type="xsd:string"/>
     <element name="proDate" nillable="true" type="xsd:string"/>
     <element name="statusCode" nillable="true" type="xsd:string"/>
     <element name="status" nillable="true" type="xsd:string"/>
     <element name="appointment" nillable="true" type="xsd:string"/>
     <element name="pieces" nillable="true" type="xsd:string"/>
     <element name="weight" nillable="true" type="xsd:string"/>
     <element name="po" nillable="true" type="xsd:string"/>
     <element name="bol" nillable="true" type="xsd:string"/>
     <element name="trailer" nillable="true" type="xsd:string"/>
     <element name="signature" nillable="true" type="xsd:string"/>
     <element name="origTerminal" nillable="true" type="xsd:string"/>
     <element name="origAddress" nillable="true" type="xsd:string"/>
     <element name="origState" nillable="true" type="xsd:string"/>
     <element name="origName" nillable="true" type="xsd:string"/>
     <element name="origCity" nillable="true" type="xsd:string"/>
     <element name="origZip" nillable="true" type="xsd:string"/>
     <element name="origPhone" nillable="true" type="xsd:string"/>
     <element name="origFax" nillable="true" type="xsd:string"/>
     <element name="destTerminal" nillable="true" type="xsd:string"/>
     <element name="destAddress" nillable="true" type="xsd:string"/>
     <element name="destState" nillable="true" type="xsd:string"/>
     <element name="destName" nillable="true" type="xsd:string"/>
     <element name="destCity" nillable="true" type="xsd:string"/>
     <element name="destZip" nillable="true" type="xsd:string"/>
     <element name="destPhone" nillable="true" type="xsd:string"/>
     <element name="destFax" nillable="true" type="xsd:string"/>
     <element name="delivered" nillable="true" type="xsd:string"/>
     <element name="url" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
     <element name="scac" nillable="true" type="xsd:string"/>
     <element name="errorMessage" nillable="true" type="xsd:string"/>
     <element name="guaranteed" nillable="true" type="xsd:string"/>
     <element name="call" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getTraceDataResponse">
    <complexType>
     <sequence>
      <element name="getTraceDataReturn" nillable="true" type="impl:TraceResult"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  </wsdl:types>
  <wsdl:message name="getTraceDataResponse">
    <wsdl:part name="parameters" element="impl:getTraceDataResponse"/>
  </wsdl:message>
  <wsdl:message name="getTraceDataRequest">
    <wsdl:part name="parameters" element="impl:getTraceData"/>
  </wsdl:message>
  <wsdl:portType name="Trace">
    <wsdl:operation name="getTraceData">
      <wsdl:input name="getTraceDataRequest" message="impl:getTraceDataRequest"/>
      <wsdl:output name="getTraceDataResponse" message="impl:getTraceDataResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TraceSoapBinding" type="impl:Trace">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTraceData">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getTraceDataRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTraceDataResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TraceService">
    <wsdl:port name="Trace" binding="impl:TraceSoapBinding">
      <wsdlsoap:address location="http://www.odfl.com/TraceWebServiceWeb/services/Trace"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
